Modulo_CashFlowV2/Connected Services/SissaCashflowService/CashflowService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sissa-ws-test.azurewebsites.net/CashflowService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Cashflow.Web.Service" />
  <xs:element name="TestConnection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestConnectionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTransaccionDeposito">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RFC" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Cashflow.Web.Service" minOccurs="0" name="TransaccionInfo" nillable="true" type="q1:TransaccionEntityObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTransaccionDepositoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Cashflow.Web.Service" minOccurs="0" name="InsertTransaccionDepositoResult" nillable="true" type="q2:TransaccionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTransaccionRetiro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RFC" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Cashflow.Web.Service" minOccurs="0" name="TransaccionInfo" nillable="true" type="q3:TransaccionEntityObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTransaccionRetiroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Cashflow.Web.Service" minOccurs="0" name="InsertTransaccionRetiroResult" nillable="true" type="q4:TransaccionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDepositoReferenciaStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RFC" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Cashflow.Web.Service" minOccurs="0" name="Depositos" nillable="true" type="q5:ArrayOfTransaccionEntityObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDepositoReferenciaStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Cashflow.Web.Service" minOccurs="0" name="UpdateDepositoReferenciaStatusResult" nillable="true" type="q6:TransaccionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTransactionLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RFC" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Cashflow.Web.Service" minOccurs="0" name="LogIngo" nillable="true" type="q7:TransaccionLogEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTransactionLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Cashflow.Web.Service" minOccurs="0" name="AddTransactionLogResult" nillable="true" type="q8:TransaccionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileTransferAcreditaciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileTransferAcreditacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Cashflow.Web.Service" minOccurs="0" name="GetFileTransferAcreditacionesResult" nillable="true" type="q9:eArchivo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendFileTransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Cashflow.Web.Service" minOccurs="0" name="Response" nillable="true" type="q10:FileTransferResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendFileTransferResponseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Cashflow.Web.Service" minOccurs="0" name="SendFileTransferResponseResult" nillable="true" type="q11:FileTransferResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendFileTransferRecolecciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Cashflow.Web.Service" minOccurs="0" name="ArchivoInfo" nillable="true" type="q12:eArchivo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendFileTransferRecoleccionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Cashflow.Web.Service" minOccurs="0" name="SendFileTransferRecoleccionesResult" nillable="true" type="q13:FileTransferResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>